<form novalidate autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name</label>
        <input class="form-control form-control-sm" placeholder="Enter your Name" name="name">
      </div>
      <div class="form-group col-md-6">
        <label> Email</label>
        <input type="email" class="form-control form-control-sm" placeholder="Email ID"
          >
      </div>
    </div>
    <button class="btn btn-info btn-lg btn-block" type="submit" >Submit</button>
</form>